gym == 0.14.0
matplotlib == 3.1.1
tensorflow == 2.7.2
jupyterlab == 1.1.4
torch == 1.2.0
torchvision == 0.4.0
numpy == 1.17.2
tqdm == 4.36.1
seaborn == 0.9.0
roboschool == 1.0.48
box2d-py == 2.3.8
tensorboardX == 1.9